body {font-family:verdana;font-size:100%;background-color:gray;;
}
div.navheader, div.navfooter, div.sect1 {
    font-size: 1em;
    max-width: 40em;
    background-color: white;
    padding: 0.5em 3em;
    margin: 0.5em auto;
    border: 1px solid black;
    border-radius: 15px;

}
div.sect1 {
    line-height: 1.3em;

}
td {font-family:verdana;}
h1,h2,h3,h4 {color:darkblue;}
div.sect4 {margin-left:3em;}
table {font-size:100%; margin:auto; padding 0 2em; border-collapse: collapse;}
div.mediaobject {text-align:center;}
div.variablelist {margin-left:2em;}
td {padding: 1em;}
table.simplelist {margin-left:3em;}
table.simplelist td {padding:0.5em;}
dt {font-weight:bold;}