body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 1px;
    line-height: 1.4;
}

sup, sub {
    line-height: 0;
}

body > div {
    margin:auto;
    max-width:45em;
}

h1,h2,h3,h4 {
    color:darkblue;
}

table {
    margin:1em auto;
    padding 0 2em;
    border-collapse: collapse;
}

td {padding: 1em;}
dt {font-weight:bold;}

div.mediaobject {
    padding: 1em 0;
    text-align:center;
}


span.underline{text-decoration:underline;}
.multicite{color:#303030; font-size:0.8em;}
/* sup {vertical-align:top; font-size:0.75em;position:relative; top:-0.25em;} */

@media (max-width: 480px) {
    h1 {
        font-size: 130%;
    }
    h2, h3 {
        font-size: 115%;
    }
    ol, ul {
        padding-left:1.5em;
    }
    .mediaobject, .table-contents, div.informaltable {
        overflow-x: auto;
    }
   /*footer navigation table doesn't work well on very narrow screens*/
    .navfooter tbody tr:last-child {
        display: none;
    }
}

/* scale images if 480px<viewport width<actual width */
@media (min-width: 480px) {
img {
    height: auto;
    width: auto;
    max-width: 100%;
}
